# 隱藏虛擬環境與快取
venv/
__pycache__/

# 隱藏API Key與機密資訊
.env

# node_modules
node_modules/

# 測試檔
readFileTest.ts
modelListTest.ts
Current_State_copy.json
currentState.json
workoutHistory.json

# 系統文件
reportDocument.md

# Unused files
Next_Training_Generator_System_Prompt.md
Next_Training_Output.json
Workout_Log_Generator_System_Prompt.md
Workout_Log.json